@import "assets/src/css/header.css";

@import "node_modules/tailwindcss/base.css";

h1 {
	@apply text-5xl mb-4;
}
h2 {
	@apply text-3xl mb-3;
}
h3 {
	@apply text-2xl mb-2;
}
h4 {
	@apply text-xl mb-2;
}
h5 {
	@apply text-lg mb-1;
}
h6 {
	@apply text-sm;
}
nav h1 {
	@apply mb-0;
}
a {
	@apply text-teal-700;
}
a.post-content{
	@apply underline;
}
a:hover,
a:focus {
	@apply text-teal-400;
}

.site-footer a {
	@apply text-teal-200 underline;
}
.site-footer a:hover {
	@apply text-teal-900;
}
p {
	@apply mb-3 text-xl;
}

#nav-items.hidden{
	@apply h-0;
}
@import "node_modules/tailwindcss/components.css";

@import "node_modules/tailwindcss/utilities.css";

.btn,
input[type=button],
input[type=submit] {
	@apply font-bold py-2 px-4 rounded bg-teal-500 text-white;
}
.btn:hover,
input[type=button]:hover,
input[type=submit]:focus {
	@apply bg-teal-700 text-white;
}

#commentform > p > label {
	@apply block pb-2;
}

textarea#comment,
input#author,
input#email,
input#url {
	@apply block w-full p-2 px-3 border-2 rounded border-teal-600;
}

#comments .comment {
	@apply border border-teal-800 p-4 mb-2;
}

#comments .comment img.avatar {
	@apply float-left mb-2 mr-2;
}

#comments .comment footer.comment-meta {
	@apply mb-3;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; 	/* Above WP toolbar. */
}

/* WP specific classes */

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.wp-caption{
    @apply h-auto;
}

.wp-caption {
	@apply pb-2 text-sm;
}
.wp-caption-text {
    @apply m-3;
}

.sticky:before {
	content: 'sticky post';
	@apply mb-5 pt-2 pb-3 border-t border-b text-gray-600 text-center block;
}
.gallery-caption {
    @extend .wp-caption
 }
.bypostauthor {
    letter-spacing: -0.2px;
 }
.alignright {
    float:right;
	margin-left:8px;
	margin-bottom:10px;
 }
.alignleft {
	float:left;
	margin-right:8px;
	margin-bottom:10px;
 }
 .aligncenter {
	display: block;
	margin: 0 auto;
 }

.alignwide{
	margin: auto calc(25% - 25vw);
	@apply w-auto;
}
.alignfull{
	margin: auto calc(50% - 50vw);
	overflow: hidden;
	@apply w-screen;
}
.container .alignfull {
	@apply pl-2 pr-2;
}
/* blocks */
.wp-block-embed > iframe,
.wp-block-embed__wrapper > iframe,
.wp-block-embed > blockquote,
.wp-block-embed__wrapper > blockquote,
.wp-block-embed twitter-widget,
.wp-block-embed > .fb_iframe_widget {
    margin: 0 auto !important;
    display: block;
}

.wp-block-separator {
	@apply mt-4 mb-4;
}

#header-nav {
	@apply flex flex-wrap bg-teal-500 p-6;
}

#site-title {
	@apply font-semibold text-xl tracking-tight;
}

#header-nav-toggle {
	@apply block;
}
#header-nav-items {
	@apply w-full hidden flex-grow;
}

@screen lg {
	#header-nav-toggle {
		@apply hidden;
	}
	#header-nav-items {
		@apply flex items-center w-auto
	}
}
