@import "assets/src/css/header-comment-block.css";

@import "node_modules/tailwindcss/base.css";

h1 {
	@apply text-5xl mb-4;
}
h2 {
	@apply text-3xl mb-3;
}
h3 {
	@apply text-2xl mb-2;
}
h4 {
	@apply text-xl mb-2;
}
h5 {
	@apply text-lg mb-1;
}
h6 {
	@apply text-sm;
}
nav h1 {
	@apply mb-0;
}
a {
	@apply text-orange-700;
}

pre {
	@apply whitespace-pre overflow-x-auto;
}

a:hover,
a:focus {
	@apply text-orange-500 underline;
}

p,
ol,
ul {
	@apply mb-3 text-xl;
}

.post-content ul,
.post-content ol,
#comments ul,
#comments ol {
	@apply ml-8;
}

#comments ul:first-child,
#comments ol:first-child {
	margin-left: 0;
}

.post-content ul li,
.post-content ol li,
#comments ul li,
#comments ol li {
	@apply mb-1;
}

.post-content ul {
	@apply list-disc;
}

.post-content ol {
	@apply list-decimal;
}

@import "node_modules/tailwindcss/components.css";

@import "node_modules/tailwindcss/utilities.css";

.post-tags {
	@apply mt-2;
	clear: both;
}

#content {
	@apply mb-12;
}

#content a {
	@apply underline;
}
#header-nav {
	@apply flex-wrap bg-orange-600 p-6;
}

#site-title {
	@apply inline-flex font-semibold text-xl tracking-tight text-white mr-6;
}

#header-nav-toggle {
	@apply inline-flex float-right;
}

#nav-toggle {
	@apply font-semibold px-3 py-2 border rounded text-orange-200 border-orange-400;
}
#nav-toggle:hover,
#nav-toggle:focus {
	@apply border-dashed text-white border-white;
}
#nav-toggle svg {
	@apply fill-current h-3 w-3;
}

#header-nav-items {
	@apply w-full hidden flex-grow;
}
#header-nav-items.block{
	display: block !important;
}

#header-nav-items .menu-item a {
	@apply text-orange-100 block mt-4 mr-4;
}
#header-nav-items .menu-item a:hover,
#header-nav-items .menu-item a:focus {
	@apply font-semibold underline;
}
#header-nav-items .menu-item a:active {
	@apply text-orange-300;
}
#site-footer{
	@apply bg-gray-900 text-white mt-4 pt-6 pb-2;
	text-shadow: 1px 1px #00000088;
}

#site-footer a {
	@apply text-white underline;
}
#site-footer a:hover {
	@apply text-orange-100 no-underline;
}

#site-footer .copyrights small {
	@apply text-base;
}
@screen lg {
	#header-nav-toggle {
		@apply hidden;
	}
	#header-nav-items {
		@apply inline-flex items-center w-auto;
	}
	#header-nav-items .menu-item a {
		@apply mt-0;
	}
}

.post-title-h1 {
	@apply text-6xl text-center leading-none w-auto;
	margin: 1.5rem calc(25% - 25vw) 2.5rem;
}

.post-title-h2 {
	@apply text-4xl text-center w-auto;
	margin: 1.5rem calc(25% - 25vw) 2rem;
}

.editor-post-title__input {
	@apply font-sans text-6xl text-center mt-3 mb-4;
}

.btn,
input[type=button],
input[type=submit] {
	@apply font-bold py-2 px-4 rounded bg-orange-600 text-white outline-none;
}
.btn:hover,
input[type=button]:focus,
input[type=submit]:focus  {
	@apply bg-orange-800 text-white shadow-outline;
}

input[type=button]:hover,
input[type=submit]:hover  {
	@apply bg-orange-800 text-white;
}

#site-footer .btn,
#site-footer input[type=button],
#site-footer input[type=submit] {
	@apply font-bold py-2 px-4 rounded bg-orange-800 text-white outline-none;
}
#site-footer .btn:hover,
#site-footer input[type=button]:focus,
#site-footer input[type=submit]:focus  {
	@apply bg-orange-200 text-orange-900 shadow-outline;
}

#site-footer input[type=button]:hover,
#site-footer input[type=submit]:hover  {
	@apply bg-orange-200 text-orange-900;
}

#commentform > p > label {
	@apply block pb-2;
}

textarea#comment,
input#author,
input#email,
input#url {
	@apply block w-full p-2 px-3 border-2 rounded border-orange-600 outline-none;
}

.comment .reply {
	@apply mb-2;
}

p.comment-form-cookies-consent #wp-comment-cookies-consent {
	width: 1.25rem;
	height: 1.25rem;
	vertical-align: text-bottom;
	margin-bottom: 1px;
	@apply mr-1;
}
p.comment-form-cookies-consent #wp-comment-cookies-consent,
#commentform p.comment-form-cookies-consent label {
	@apply inline;
}

textarea#comment:focus,
input#author:focus,
input#email:focus,
input#url:focus,
input.search-field:focus {
	@apply shadow-outline;
}

input.search-field {
	@apply p-2 px-3 border-2 rounded border-orange-600 outline-none text-black;
}

#site-footer input.search-field,
#site-footer input.search-submit {
	@apply block border-none rounded outline-none w-full;
}

#site-footer input.search-submit {
	@apply mt-2;
}

#comments a {
	@apply text-orange-900;
}
#comments a:hover {
	@apply no-underline;
}

#comments .comment {
	@apply border bg-orange-200 border-orange-600 p-4 mb-2;
}

#comments .comment img.avatar {
	@apply float-left mb-2 mr-2;
}

#comments .comment footer.comment-meta {
	@apply mb-3;
}

.entry-meta {
	@apply border-t border-b pt-3 pb-3 mb-2;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; 	/* Above WP toolbar. */
}

/* WP specific classes */

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.wp-caption{
    @apply h-auto;
}

.wp-caption {
	@apply pb-2 text-sm;
}
.wp-caption-text {
    @apply m-3;
}

.sticky:before {
	content: 'sticky post';
	@apply mb-5 pt-2 pb-3 border-t border-b text-gray-600 text-center block;
}
.gallery-caption {
    @apply pb-2 text-sm h-auto;
 }
.bypostauthor {
    letter-spacing: -0.2px;
 }
.alignright {
    float:right;
	margin-left:8px;
	margin-bottom:10px;
 }
.alignleft {
	float:left;
	margin-right:8px;
	margin-bottom:10px;
 }
 .aligncenter {
	display: block;
	margin: 0 auto;
 }

.alignwide{
	margin: auto calc(25% - 25vw);
	@apply w-auto;
}
.alignfull{
	margin: auto calc(50% - 50vw);
	overflow: hidden;
	@apply w-screen;
}
.container .alignfull {
	@apply pl-2 pr-2;
}
/* blocks */
.wp-block-embed > iframe,
.wp-block-embed__wrapper > iframe,
.wp-block-embed > blockquote,
.wp-block-embed__wrapper > blockquote,
.wp-block-embed twitter-widget,
.wp-block-embed > .fb_iframe_widget {
    margin: 0 auto !important;
    display: block;
}

.wp-block-separator {
	@apply mt-4 mb-4;
}

.has-orange-color {
	@apply text-orange-600;
}
.has-light-orange-color {
	@apply text-orange-300;
}
.has-dark-orange-color {
	@apply text-orange-800;
}
.has-dark-grey-color {
	@apply text-gray-900;
}

.has-orange-background-color {
	@apply bg-orange-600;
}
.has-light-orange-background-color {
	@apply bg-orange-300;
}
.has-dark-orange-background-color {
	@apply bg-orange-800;
}
.has-dark-gray-background-color {
	@apply bg-gray-900;
}

/* Editor width */
.wp-block {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	max-width: 1024px;
}

.wp-block[data-align="wide"] {
    max-width: 1280px;
}
